__pycache__
**/__pycache__*
greffe_cli/build*
*.o
*.a
.*
greffe_cli/third_party/frida-gum/build/
tests/bin/*/build/__greffe_workdir/*.o
tests/bin/*/build/__greffe_workdir/handlers/
*.id0
*.id1
*.i64
*.nam
*.mk
*.til
*.greffe
*.map
*.bin
*.elf
*.greffe
CLAUDE.md
.gitignore